/* Card formatting -------------------------------------------------------------- */
.col-img {
    display:inline-block;
    width:100%;
    max-width:270px;
    vertical-align:top;
    text-align:left;
    font-family:'Poppins',Verdana,sans-serif;
    font-size:14px;
    color:#363636;
    }

    .col-text {
    display:inline-block;
    width:100%;
    max-width:270px;
    font-family:'Poppins',Verdana,sans-serif;
    font-size:14px;
    line-height:22px;
    color:#ffffff;
    }
    /* End Card formatting ---------------------------------------------------------- */